<div class="jumbotron py-3">
    <h1 class="display-4 text-center m-4 border-bottom border-5 "><b>KİŞİ REHBERİ</b></h1>
</div>


<div class="row" >
    <div class="col md-6"><app-person-form></app-person-form></div>
    <div class="col md-6">
        <table class="table table-hover table-light border border-dark-subtle border-2 " >
            <thead class="thead light">
                <tr >
                    <th>Kişi Adı</th>
                    <th>Telefon Numarası</th>
                    <td>
                        <i class="fa-solid fa-phone-volume"></i>
                    </td>
                </tr>
            </thead>

            <tbody id="cursorP">
                <tr *ngFor="let p of service.list" id="data">
                    <td (click)="populateForm(p)" >{{p.name}}</td>
                    <td (click)="populateForm(p)" >{{p.phoneNumber}}</td>
                    <td>
                        <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(p.id)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
